<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Oral Surgery + Lake Charles{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <!-- Include Bootstrap CSS if using -->
  </head>
  <body>
    <header>
      <!-- Navigation bar -->
    </header>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <!-- Footer content -->
    </footer>

    <!-- Include JavaScript files -->
  </body>
</html>
